---
<center><h1>Lesson 6 - SQL with Python. Relational databases</h1></center>


---
<center><h1>Part 1. What is SQL? Connection to SQL servers</h1></center>
---

# What is SQL?

SQL is **Structured** **Query** **Language**, which is a computer language for storing, manipulating and retrieving data stored in relational database.

SQL is the standard language for Relation Database Management System (RDBMS). All relational database management systems like MySQL, MS Access, Oracle, Sybase, Informix, postgres and SQL Server use SQL as standard database language (we will talk about some of them further). The data in RDBMS is stored in database objects called tables. Each table is contained in a file. A table is a collection of related data entries and it consists of columns and rows:

<img src="images/sql_table.jpg" width=70%>

where 
* Row (record) contains iformation about a specific object such as a person.
* Column (field) contains category of information.
* ID defines uniqueness of each records (is called PRIMARY KEY).

# Table of Contents

- [Main data types](#Main-data-types)
- [Connection to SQLite and MySQL databases using IPython notebook extension](#Connection-to-SQLite-and-MySQL-databases-using-IPython-notebook-extension)
    - [SQLite](#SQLite)
    - [MySQL](#MySQL)

# Main data types

[[back to top]](#Table-of-Contents)

SQL data type is an attribute that specifies type of data of any object. Each column, variable and expression has related data type in SQL. You would use these data types while creating your tables. You would choose a particular data type for a table column based on your requirement.

SQL Server offers six categories of data types:

**Exact Numeric Data Types:**

|DATA TYPE|FROM|TO|
|-----|-----|-----|
|bigint|-9,223,372,036,854,775,808|9,223,372,036,854,775,807|
|int|-2,147,483,648|2,147,483,647|
|smallint|-32,768|32,767|
|tinyint|0|255|
|bit|0|1|
|decimal|-10^38 + 1|10^38 - 1|

**Approximate Numeric Data Types:**

|DATA TYPE|FROM|TO|
|-----|-----|-----|
|float|-1.79E + 308|1.79E + 308|
|real|-3.40E + 38|3.40E + 38|

**Date and Time Data Types:**

|DATA TYPE|Description|
|-----|-----|
|datetime|From Jan 1, 1753 to Dec 31, 9999|
|smalldatetime|From Jan 1, 1900 to Jun 6, 2079|
|date|Stores a date like June 30, 1991|
|time|Stores a time of day like 12:30 P.M.|

**Character Strings Data Types:**

|DATA TYPE|Description|
|-----|-----|
|char|Maximum length of 8,000 characters (Fixed length non-Unicode characters)|
|varchar|Maximum of 8,000 characters (Variable-length non-Unicode data)|
|text|Variable-length non-Unicode data with a maximum length of 2,147,483,647 characters|

**Unicode Character Strings Data Types:**

|DATA TYPE|Description|
|-----|-----|
|nchar|Maximum length of 4,000 characters (Fixed length Unicode)|
|nvarchar|Maximum length of 4,000 characters (Variable length Unicode)|
|ntext|Maximum length of 1,073,741,823 characters  (Variable length Unicode)|

# Connection to SQLite and MySQL databases using IPython notebook extension

[[back to top]](#Table-of-Contents)

It is possible to directly execute SQL queries from within an IPython notebook. Although this is not our first choice, it is often convenient when we want to quickly test some queries while writing Python code. To enable SQL queries within the iPython notebooks, go to the terminal and type:

    pip install ipython-sql

This install the [`ipython-sql`](https://github.com/catherinedevlin/ipython-sql) extension for IPython notebook.

Then, to enable SQL, we type the following "magic" command within the notebook. To connect to a database (depending on the preferable database), we use the following command:
    
    %sql sqlite:///database_name 
    %sql mysql://username:password@hostname:port/database_name
    %sql postgresql://username:password@hostname/database_name
    ...
    
Pay you attention that `database_name` is not required

In [1]:
%load_ext sql

### SQLite

[[back to top]](#Table-of-Contents)

SQLite is a very easy to use database engine. It is self-contained, serverless, zero-configuration and transactional. It is very fast and lightweight, and the entire database is stored in a single disk file. It is used in a lot of applications as internal data storage. SQLite does not require a separate server process or system to operate. It comes with zero-configuration, which means no setup or administration needed. 

Let's connect to the SQLite database using `ipython-sql` extension.

In [2]:
%sql sqlite:///

'Connected: @'

### MySQL

[[back to top]](#Table-of-Contents)

MySQL is a leading open source database management system. It is a multi user, multithreaded database management system. MySQL is especially popular on the web. It is one part of the very popular LAMP platform which consists of Linux, Apache, MySQL, and PHP. Currently MySQL is owned by Oracle. MySQL database is available on most important OS platforms. 

To simplify lerning material we pass the information about installing and configuring of MySQL, because such information can be found in the Internet, particularly, in the official site https://dev.mysql.com/. We suppose that you installed MySQL on your computer (be sure it is installed on the virutal machine).

Let's connect to MySQL server using `ipython-sql` extension.

In [3]:
# This code breaks previous connection to SQLite
%sql mysql://root:vagrant@localhost:3306/

(MySQLdb._exceptions.OperationalError) (2002, "Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)") (Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///'])

For connection to MySQL server you also open Command Line or Terminal depending on your OS and type the following line to connect to the mysql client:

    $ mysql -u root -p

After that you need enter your password to the MySQL server. If all was done correctly you will see something like

    Welcome to the MySQL monitor.  Commands end with ; or \g.
    Your MySQL connection id is 6
    Server version: 5.5.45 MySQL Community Server (GPL)

The command 

    mysql> quit;

restores your interaction with MySQL server.  

The next paragraph about SQL syntax and commands will touch the interection with MySQL database.

<center><h3>Presented by <a target="_blank" rel="noopener noreferrer nofollow" href="http://datascience-school.com">datascience-school.com</a></h3></center>